<div class="footer">
  <div class="footer-main">
    <h3><strong>SEVEN</strong> learn</h3>
    <p class="footer-main-text">We share knowledge you will never forget.</p>
  </div>
  <div class="footer-categories-container">
    <div class="footer-categories" id="footer-categories1">
      <h3>FOLLOW US</h3>
      <div class="footer-links">
        <a href="https://www.linkedin.com/company/learnbyseven/">LinkedIn</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories2">
      <h3>RESSOURCES</h3>
      <div class="footer-links">
        <a href="../training/">Our contents</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories3">
      <h3>ABOUT</h3>
      <div class="footer-links">
        <a href="../method#method-anchor">Method</a>
        <a href="../method#team-anchor">Our team</a>
        <a href="" data-toggle='modal' data-target='#contactUs'>Contact us</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories4">
      <a class="seven-main-link" href="https://byseven.co"><h3>SEVEN</h3></a>
      <div class="footer-links">
        <a href="https://learn.byseven.co">SEVEN learn</a>
        <a href="https://home.byseven.co">SEVEN home</a>
        <a href="https://invest.byseven.co">SEVEN invest</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>
