<div class="footer">
  <div class="footer-main">
    <h3><strong>SEVEN</strong> learn</h3>
    <p class="footer-main-text">Nous partageons avec les personnes des connaissances qu'ils ne pourront jamais oublier.</p>
  </div>
  <div class="footer-categories-container">
    <div class="footer-categories" id="footer-categories1">
      <h3>SUIVEZ-NOUS</h3>
      <div class="footer-links">
        <a href="https://www.linkedin.com/company/learnbyseven/">LinkedIn</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories2">
      <h3>RESSOURCES</h3>
      <div class="footer-links">
        <a href="../training/">Nos contenus</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories3">
      <h3>A PROPOS</h3>
      <div class="footer-links">
        <a href="../method#method-anchor">Méthode</a>
        <a href="../method#team-anchor">Notre équipe</a>
        <a href="" data-toggle='modal' data-target='#contactUs'>Contactez-nous</a>
      </div>
    </div>
    <div class="footer-categories" id="footer-categories4">
      <a class="seven-main-link" href=""><h3>SEVEN</h3></a>
      <div class="footer-links">
        <a href="https://learn.byseven.co">SEVEN learn</a>
        <a href="https://home.byseven.co">SEVEN home</a>
        <a href="https://invest.byseven.co">SEVEN invest</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>
