<header class="navbar-seven">
  <a href="http://localhost:4000/"><img src="../assets/img/logo_learn_inline.png" alt=""></a>
  <nav class="navbar-links">
    <a href="/training/">Formations</a>
    <a href="/method/">Méthode</a>
  </nav>
<!--   <nav class="navbar-burger">
    <i class="fas fa-bars"></i>
  </nav> -->
  <div class="dropdown navbar-burger">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="/training/">Formations</a></li>
      <li><a href="/method/">Méthode</a></li>
    </ul>
  </div>
  <script src="/assets/javascripts/homeseven.js"></script>
</header>
