// html, body {
//   width: 100%;
//   margin: 0;
//   padding: 0;
//   overflow-x: hidden;
// }

h1 {
    font-family: "InfoDispBold Roman";
    font-size: 24px;

    @include from-medium {
      font-size: 28px
    }

    @include from-large {
      font-size: 40px;
    }
}

h2 {
    font-family: "InfoText Normal";
    font-size: 20px;

    @include from-medium {
      font-size: 24px
    }

    @include from-large {
      font-size: 30px;
    }
}

h3 {
  font-family: "Infotext Normal";
  font-size: 16px;

  @include from-medium {
    font-size: 20px;
  }

  @include from-large {
    font-size: 24px;
  }
}

a {
  color: black;
  font-family: "InfoDispSemiBold Roman";
  &:hover {
    text-decoration: none;
    color: black;
  }
}

p {
  font-family: "InfoText Normal";
  font-size: 16px;

  @include from-large {
    font-size: 20px;
  }
}
