html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
    font-family: "InfoDispBold Roman";
    font-size: 24px;

    @include from-large {
      font-size: 40px;
    }
}

h2 {
    font-family: "InfoText Normal";
    font-size: 20px;

    @include from-large {
      font-size: 30px;
    }
}

a {
  color: black;
  font-family: "InfoDispSemiBold Roman";
  &:hover {
    text-decoration: none;
    color: black;
  }
}

