// html,body
// {
//     width: 100%;
//     height: 100%;
//     margin: 0px;
//     padding: 0px;
//     overflow-x: hidden;
// }

//FLAG

.method-flag {
  min-height: 350px;
  height: 50vh;
  padding: 97px 50px 50px 50px;
  background-color: rgb(166, 198, 226);
  background-image: url('/assets/img/expertise_background2.png');
  background-size: cover;
  background-position: (0, 50%);
  position: relative;


  p {
    width: 50vw;
    color: white;
  }

  img {
    width: 100px;
    position: absolute;
    bottom: 50px;
    left: 70px;

    @include from-medium {
      width: 145px;
    }
  }
}

.method-main-text {
  background-color: rgb(237, 246, 255);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;

  h2 {
    margin-top: 79.9px;
  }

  div {
    background-color: white;
    margin: 60px auto;
    padding: 30px;
    box-shadow: 0px 0px 10px 2px rgba(136,136,136,0.7);
    text-align: left;

    @include from-large {
      margin: 60px 200px;
    }
  }

  div > p {
    // width: 75vw;
    margin: 0;
  }
}

.method-intro, .method-titles {
  font-weight: bold;
}

.method-titles {
  color: rgb(115,157,190);
}

.method-italics {
  font-family: 'InfoTextRegular Italic';
  color: rgb(115,157,190);
}

// TEAM

.method-team {
  background-image: url('/assets/img/FOND_POIS.png');
  background-repeat: repeat;
  padding: 10px;
  text-align: center;

  @include from-medium {
    padding: 70px 50px;
  }

  .container > h2 {
    margin-bottom: 94.9px;
    font-family: 'InfoText Normal' !important;
  }
}

.method-team-presentation {
  text-align: center;

  h2 {
    margin-top: 94.9px;
  }

  @include from-large {
    margin: 0 55px;
  }
}

.method-team-grid {
  margin: auto;
  width: 100%;


  @include from-large {
    padding: 0 100px;
  }
}

// CARD

.method-team-card {
  background-color: rgb(246, 246, 246);
  box-shadow: 2px 2px 10px rgba(136,136,136,0.8);
  padding: 30px;
  margin: 20px 0;
  height: 946px;

  @include from-large {
    margin: 40px 60px;
    min-width: 350px;
  }
}

.method-team-avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;

  @include from-large {
    height: 200px;
    width: 200px;
  }

  @include from-xlarge {
    height: 250px;
    width: 250px;
  }
}

.method-team-card-text {
  text-align: left;
  padding-top: 20px;

  p {
    font-size: 16px;
  }
}

.method-team-card-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-family: 'InfoDispBold Roman';
    margin: 0;
    color: rgb(115, 157, 191);
  }

  div > i {
    margin: 0 5px;
  }
}

.method-team-card-tags {
  font-family: 'InfoDispBook Italic';
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
