---
layout: base
type: training
permalink: /training/project-management.html
title: "Gestion de projet"
lang: fr
---

<div class="page-flag content-list-flag">
  <p>“Le leadership est le produit d'une personnalité attachante associée à une force de conviction permettant d'entraîner les autres sur des projets ambitieux.”</p>
  <p>Jean-François Rial</p>
</div>
<div class="content-list">
  <h2>Nos ateliers en {{page.title}}</h2>
  {% assign contents = site.content| where: 'categories', 'project-management' %}
  {% for content in contents %}
    <div class="content-list-card">
      <div class="content-list-card-img">
        <img src="{{content.image}}" alt="" style="height:100%;width:100%;">
      </div>
      <div class="content-list-card-desc">
        <div class="content-list-card-text">
          <h3>{{ content.title }}</h3>
          <h4><em>{{content.quote}}
            </em></h4>
            <br>
            <p>{{content.teaser1}}
            <br>
            <p>{{content.teaser2}}</p>
          </div>
      </div>

    </div>
  {% endfor %}
</div>
<div class="training-offer offer">
  <div>
    <h2><strong>Vous pensez des ateliers et modules de formation spécifiques à intégrer à votre programme ?</strong></h2>
    <h3>Nous concevons et alimentons soigneusement notre propre galerie d’ateliers.
    Nous voulons faire de cette collection un ensemble cohérent, connecté et évolutif de ressources.
    Dites nous votre besoin et explorons les possibilités.
    </h3>
    <a href="" class="home-button-discover" data-toggle='modal' data-target='#contactUs'>Echangeons ensemble</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>
