---
layout: base
type: training
permalink: /training/
title: "Formations"
lang: fr
ref: training-list
---

<div class="page-flag">
  <h2>Formez vos équipes</h2>
  <p>Nous apportons créativité et passion grâce à des formations rythmées aussi bien sur les compétences comportementales / émotionnelles /  relationnelles, appelées soft skills que sur les compétences démontrables / techniques connues sous le nom de hard skills.</p>
</div>
<div class="training-list">
  <h2>Choisissez le thème qui vous intéresse et découvrez nos modules</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href="/training/leadership.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/leadership.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>LEADERSHIP</h3>
              <p>Définir une vision et engager ses collaborateurs</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/team-management.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/gestion dequipe.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>GESTION D'EQUIPE</h3>
              <p>Construire un collectif et faire grandir ces équipes</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/communication.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/communication.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description color-change">
              <h3>COMMUNICATION</h3>
              <p>Prendre la parole en publique et communiquer efficacement en interne/externe</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/business-developement.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/business-developement.jpeg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description  color-change">
              <h3>BUSINESS DEVELOPEMENT</h3>
              <p>Créer une relation de confiance et développer ensemble</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/project-management.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/gestion de projet.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>GESTION DE PROJET</h3>
              <p>Piloter efficacement et gérer le changement et rester créatif pour trouver des solutions</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/competitive-intelligence.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/intelligence eco.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>INTELLIGENCE ECONOMIQUE</h3>
              <p>Rester en éveil, analyser, comprendre, identifier, agir et réagir</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/team-building.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/team building.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description  color-change">
              <h3>TEAM BUILDING</h3>
              <p>Construire un collectif et prendre du plaisir</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="" data-toggle='modal' data-target='#contactUsTheme'>
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/votre theme.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description  color-change">
              <h3>VOTRE THEME</h3>
              <p>Définissons ensemble les nouveaux thèmes que vous souhaitez aborder</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="training-offer offer">
    <h2>Vous souhaitez mettre en place un programme de formations personnalisé pour vos équipes et vos collaborateurs ?</h2>
    <h3>Nous sommes passionés par l'ingénierie pédagogique</h3>
    <div><a href="" class="home-button-discover" data-toggle='modal' data-target='#contactUs'>Echangeons ensemble</a></div>
</div>
<!-- <script src='/assets/javascripts/resize.js'></script> -->

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>

<div class="modal fade" id="contactUsTheme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal-theme.html %}
  </div>
</div>
