---
layout: base
type: training
permalink: /training-en/
title: "Trainings"
lang: en
ref: training-list
---

<div class="page-flag">
  <h2>Train your teams</h2>
<!--   <h2>Formez vos équipes</h2> -->
  <p>We bring creativity and passion through rhythmical trainings on behavioural / emotional / relational skills, known as 'soft skills', as well as technical skills, or 'hard skills'.</p>
<!--   <p>Nous apportons créativité et passion grâce à des formations rythmées aussi bien sur les compétences comportementales / émotionnelles /  relationnelles, appelées soft skills que sur les compétences démontrables / techniques connues sous le nom de hard skills.</p> -->
</div>
<div class="training-list">
  <h2>Choose a topic and discover our workshops</h2>
<!--   <h2>Choisissez le thème qui vous intéresse et découvrez nos modules</h2> -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href="/training/leadership-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/leadership.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>LEADERSHIP</h3>
              <p>Shape your perspective and inspire your collaborators</p>
              <!-- <p>Définir une vision et engager ses collaborateurs</p> -->
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/team-management-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/gestion dequipe.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>TEAM MANAGEMENT</h3>
              <!-- <h3>GESTION D'EQUIPE</h3> -->
              <p>Build a collective and empower your teams</p>
              <!-- <p>Construire un collectif et faire grandir ces équipes</p> -->
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/communication-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/communication.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description color-change">
              <h3>COMMUNICATION</h3>
              <p>Public speaking and how to communicate efficiently</p>
              <!-- <p>Prendre la parole en publique et communiquer efficacement en interne/externe</p> -->
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/business-developement-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/business-developement.jpeg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description  color-change">
              <h3>BUSINESS DEVELOPEMENT</h3>
              <p>Create a trusting relation and thrive together</p>
              <!-- <p>Créer une relation de confiance et développer ensemble</p> -->
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/project-management-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/gestion de projet.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>PROJECT MANAGEMENT</h3>
              <!-- <h3>GESTION DE PROJET</h3> -->
              <p>Manage efficiently, address the change and remain creative in your solutions</p>
              <!-- <p>Piloter efficacement, gérer le changement et rester créatif pour trouver des solutions</p> -->
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/competitive-intelligence-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/intelligence eco.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description">
              <h3>COMPETITIVE INTELLIGENCE</h3>
              <!-- <h3>INTELLIGENCE ECONOMIQUE</h3> -->
              <p>Stay tuned, analyze and process data, identify opportunites, act and react efficiently</p>
              <!-- <p>Rester en éveil, analyser, comprendre, identifier, agir et réagir</p> -->
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/team-building-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/team building.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description  color-change">
              <h3>TEAM BUILDING</h3>
              <p>Bring people together and enjoy collaborating</p>
              <!-- <p>Construire un collectif et prendre du plaisir</p> -->
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/training/digital-en.html">
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/outils-digitaux.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description  color-change">
              <h3>DIGITAL TOOLS</h3>
              <p>Get updated and thrive</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="" data-toggle='modal' data-target='#contactUsTheme'>
          <div class="training-card">
            <div class="training-card-img" style="background-image:url('/assets/img/votre theme.jpg');background-size:cover;background-position:center;"></div>
            <div class="training-card-description  color-change">
              <h3>YOUR TOPIC</h3>
              <!-- <h3>VOTRE THEME</h3> -->
              <p>Let us know what other topics you would like to discuss</p>
              <!-- <p>Définissons ensemble les nouveaux thèmes que vous souhaitez aborder</p> -->
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="training-offer offer">
    <h2>You wish to build a tailored training program for your teams and collaborators ?</h2>
    <!-- <h2>Vous souhaitez mettre en place un programme de formations personnalisé pour vos équipes et vos collaborateurs ?</h2> -->
    <h3>We specialize in educational engineering</h3>
<!--     <h3>Nous sommes passionnés par l'ingénierie pédagogique</h3> -->
    <div><a href="" class="home-button-discover" data-toggle='modal' data-target='#contactUs'>Contact us</a></div>
<!--     <div><a href="" class="home-button-discover" data-toggle='modal' data-target='#contactUs'>Echangeons ensemble</a></div> -->
</div>
<!-- <script src='/assets/javascripts/resize.js'></script> -->

<!-- Modal -->
<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal.html %}
  </div>
</div>

<div class="modal fade" id="contactUsTheme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    {% include contact-modal-theme.html %}
  </div>
</div>
