---
layout : base
---

<div class="home-banner">
  <div class="home-banner-title">
    <h1>Apprendre, créer, transformer en continu pour entreprendre son avenir</h1>
    <h2>Chez Seven, nous créons des expériences d'apprentissages pour les femmes et les hommes de façon à transformer les organisations</h2>
    <a href="" class="home-button-discover">Découvrez nos formations</a>
  </div>
</div>
<div class="home-top-trainings">
  <h2>Les formations les plus demandées aujourd'hui</h2>
  <div class="home-training-grid">
    <div class="home-training-card">
      <div class="home-training-card-color1">
        <img src="../assets/img/training_top1.jpg" alt="" class="home-training-card-img">
        <h3><strong>PRENDRE LA PAROLE EN PUBLIC</strong></h3>
        <h4>Leadership</h4>
        <a href="" class="home-training-link1">EN SAVOIR PLUS</a>
      </div>
    </div>
    <div class="home-training-card">
      <div class="home-training-card-color2">
        <img src="../assets/img/training_top2.jpg" alt="" class="home-training-card-img">
        <h3><strong>MANAGER SELON LA SITUATION</strong></h3>
        <h4>Gestion des équipes</h4>
        <a href="" class="home-training-link2">EN SAVOIR PLUS</a>
      </div>
    </div>
    <div class="home-training-card">
      <div class="home-training-card-color3">
        <img src="../assets/img/training_top3.png" alt="" class="home-training-card-img">
        <h3><strong>PREPARER UNE NEGOCIATION</strong></h3>
        <h4>Business Development</h4>
        <a href="" class="home-training-link3">EN SAVOIR PLUS</a>
      </div>
    </div>
  </div>
  <a href="" class="home-button-discover">Voir toutes les formations</a>
</div>
<div class="home-satisfied">
  <div class="home-satisfied-content">
    <h2>Ils nous font confiance</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="home-satisfied-carousel-card">
            <img src="/assets/img/Yahya.jpeg" alt="">
            <div class="home-satisfied-carousel-card-description">
              <p class="home-satisfied-carousel-card-text">"Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla."</p>
              <div class="home-satisfied-carousel-card-person">
                <p class="home-satisfied-carousel-card-name">Yahya Beauxcheveux</p>
                <p class="home-satisfied-carousel-card-jobtitle"><strong>Responsable des ventes chez l'Oréal</strong></p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="home-satisfied-carousel-card">
            <img src="/assets/img/Brice.jpeg" alt="">
            <div class="home-satisfied-carousel-card-description">
              <p class="home-satisfied-carousel-card-text">"Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla."</p>
              <div class="home-satisfied-carousel-card-person">
                <p class="home-satisfied-carousel-card-name">Brice de Nice</p>
                <p class="home-satisfied-carousel-card-jobtitle"><strong>Surfeur pro</strong></p>
              </div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="home-satisfied-carousel-card">
            <img src="/assets/img/training_top1.jpg" alt="">
            <div class="home-satisfied-carousel-card-description">
              <p class="home-satisfied-carousel-card-text">"Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla. Ma formation avec SEVEN merveilleuse fantastique amazing géniale blablabla."</p>
              <div class="home-satisfied-carousel-card-person">
                <p class="home-satisfied-carousel-card-name">Thomas Le Studieux</p>
                <p class="home-satisfied-carousel-card-jobtitle"><strong>Champion de Feuille/Ciseaux</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="home-contact-us">
  <h2>Vous souhaitez mettre en place des formations pour vos collaborateurs ?</h2>
  <h3>Nous avons une équipe de 55 experts et formateurs passionnés</h3>
  <div class="home-contact-us-buttons">
    <a href="" class="home-button-contact">Contactez-nous</a>
    <a href="" class="home-button-discover">Découvrez nos formations</a>
  </div>
</div>

