body {
  margin: 0;
}

.footer {
  // width: 100vw;
  min-height: 250px;
  padding: 25px 50px;
  background-color: rgb(96, 96, 96);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include from-medium {
    flex-direction: row;
  }
}

.footer-main {
  text-align: center;
  margin: 10px 0;

  @include from-medium {
    display: block;
    width: 20%;
    text-align: left;
  }
}

.footer-main > p {
  margin: 0 auto;
  text-align: center;

  @include from-medium {
    text-align: left;
  }
}

.footer-categories {
  width: auto;
  height: auto;
  text-align: center;
  margin: 10px 0;

  @include from-medium {
    width: 15%;
    text-align: left;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-links > a {
  margin: 0;
}

.footer-main, .footer-categories {
  h3, h4 {
    font-family: "InfoDispBold Roman";
  }
  h3 {
    margin: 20px 0;

    @include from-medium {
      font-size: 24px;
      margin: 17px 0;
    }
  }
  h4 {
    font-size: 18px;
    margin: 20px 0;
  }
  p {
    font-family: "InfoDispBook Roman";

    @include from-medium {
      width: auto;
    }
  }
  a {
    font-family: "InfoDispBook Roman";
  }
}
