.navbar-seven {
  background-color: rgba(255,255,255,0);
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  transition: all 0.8s ease;

  img {
    height: 33px;
    margin: 7px 0;
  }
}

.scrolled {
  background-color: white;
}

.navbar-links {
  margin: 1rem 10px;
  display: flex;
  justify-content: flex-end;
  display: none;

  a {
    text-decoration: none;
    color: black;
    font-family: "InfoDispSemiBold Roman";
  }
}

.navbar-burger {
  position: absolute;
  top: 5.5px;
  right: 10px;

  i {
    font-size: 19px;
  }
}

.navbar-burger > button {
  background-color: rgba(255,255,255,0) !important;
  outline-color: white !important;

  &:focus {
    outline: 0 !important;
  }
}

@include from-medium {
    .navbar-seven {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-left: 20px;

        .navbar-links {
          display: inline;
            a {
                margin: 0 20px;
                font-size: 1.4em;
            }
        }

        .navbar-burger {
          display: none;
        }
    }
}
